/*for mobile*/
@media (max-width:700px){
   
    .col-3{
        width:100%;
    
    }
    .space{
        width: 100%;
    }
    
    .fill{
        width: 100%;
    }
    .card{
        
        margin: 20px 20px 20px 20px;
    }

    .filter{
        font-size: 27px;
    }
    .f_title{
        font-size: 25px;
    }
    label{
        width:100px;
        margin: 0 20px 0 20px;
        
        font-size: 24px;
    }
    fieldset{
        line-height: 30px;
    }

    .c_title{
        font-size: 24px;
    }
    .c_details{
        font-size: 24px;
    }

    footer{
        font-size: 28px;
    }
 
    
}

/*for tablet*/
@media  (max-width:858px) and (min-width:701px){
    .col-3{
        width:45%;
    
    }
    .space{
        width: 24%;
        position: absolute;
    }
    .grid{
        margin-left: 24%;
    }
    .card{
        
        margin: 10px 10px 10px 10px;
    }

    .filter{
        font-size: 25px;
    }
    .f_title{
        font-size: 23px;
    }
    label{
        width:55px;
        margin: 0 5px 0 5px;
        
        font-size: 16px;
    }
    fieldset{
        line-height: 20px;
    }

    .c_title{
        font-size: 24px;
    }
    .c_details{
        font-size: 24px;
    }
    footer{
        font-size: 25px;
    }
    .col-3{
        height: 600px;
        overflow-y: scroll;
    }
    .col-3::-webkit-scrollbar { 
        display: none; 
    } 
}

@media  (max-width:1024px) and (min-width:859px){
    .col-3{
        width:47%;
    
    }
    .space{
        width: 20%;
        
        position: absolute;
    }
    .grid{
        margin-left: 20%;
    }
    .card{
        
        margin: 10px 10px 10px 10px;
    }

    .filter{
        font-size: 25px;
    }
    .f_title{
        font-size: 23px;
    }
    label{
        width:60px;
        margin: 0 5px 0 5px;
        
        font-size: 20px;
    }
    
    fieldset{
        line-height: 20px;
    }

    .c_title{
        font-size: 24px;
    }
    .c_details{
        font-size: 24px;
    }
    footer{
        font-size: 25px;
    }
    .col-3{
        height: 600px;
        overflow-y: scroll;
    }
    .col-3::-webkit-scrollbar { 
        display: none; 
    } 
    .col-3::-webkit-scrollbar { 
        display: none; 
    } 
}

/*for desktop*/

@media (min-width:1024px) and (max-width:1056px){
    .col-3{
        width:23%;
    
    }
    .space{
        width: 16%;
        
        position: absolute;
    }
    .grid{
        margin-left: 16%;
    }
    .card{
        
    margin: 5px 5px 5px 5px;
    }
    label{
        width:55px;
        margin: 0 7px 0 7px;
        padding: .5rem .1rem;
        font-size: 18px;
    }
    
    fieldset{
        line-height: 7px;
    }

    .filter{
        font-size: 25px;
    }
    .f_title{
        font-size: 23px;
    }
    
    
    .c_title{
        font-size: 24px;
    }
    .c_details{
        font-size: 24px;
    }
    footer{
        font-size: 25px;
    }
    .col-3{
        height: 600px;
        overflow-y: scroll;
    }
    .col-3::-webkit-scrollbar { 
        display: none; 
    } 
    
}

@media (min-width:1057px){
    .col-3{
        width:23%;
    
    }
    .space{
        width: 16%;
        
        position: absolute;
    }
    .grid{
        margin-left: 16%;
    }
    .card{
        
    margin: 5px 5px 5px 5px;
    }
    label{
        width:60px;
        margin: 0 7px 0 7px;
        padding: .5rem .1rem;
        font-size: 20px;
    }
   
    fieldset{
        line-height: 8px;
    }

    .filter{
        font-size: 25px;
    }
    .f_title{
        font-size: 23px;
    }
    
    
    .c_title{
        font-size: 24px;
    }
    .c_details{
        font-size: 24px;
    }
    footer{
        font-size: 25px;
    }
    .col-3{
        height: 620px;
        overflow-y: scroll;
    }
    .col-3::-webkit-scrollbar { 
        display: none; 
    } 
    

}


/*preset*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(214, 214, 214);
}

*,*::before, *::after{
    box-sizing: border-box;
}


header{
    position: relative;
}

/*filter */


fieldset{
    border:none;
    padding:0;
    margin-bottom: 1rem;  
    text-align: center;
    
}

h4 {
    margin-right: 2rem;
}

input[type='radio']{
    display: none;
    
}
label {
    background: rgb(147, 235, 144);
    border-radius: 5px;
    cursor: pointer;
    
    display: inline-block;
    text-align: center;
}

label:hover {
    background: rgb(185, 255, 119);

}

input:checked + label{
    background: #008d2a;
    color: #fff;
}


/*global card layout*/
.card {
    float:left;
    border-style:none;
    border-radius: .5rem;
    background: white;
}


.inner {
    padding-top: 1;
    padding-bottom: 1;
}


.f_title{
    text-align: center;
    color: rgb(80, 80, 80);
}

hr{
    width:40%;
    text-align: center;
    margin-top: -.8rem;
} 

img{
    margin-top: 10px;
}
.image1{
    text-align: center;
}
.content{
    margin: 8px 8px 8px 8px;
}
.c_title{
    color:rgb(7, 15, 131);
}
.c_details span{
    color:rgb(110, 110, 110);
    font-size: 18px;
}

footer{
    display: inline-block;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(214, 214, 214);
    
}